<!DOCTYPE html>
<html>
<head>
  <title>More Recipes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome-4.7.0/css/font-awesome.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
  <div class="container">
    <!-- nav bar -->
    <!-- insert favicon later -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="index.html">MORE RECIPES</a> -->
      
      <a class="navbar-brand" href="index.html">
        <img src="img/cooking_icon.png" class="navbar-icon" width="30" height="30" class="d-inline-block align-top" alt="">
      More Recipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="recipe-management.html">Add a recipe <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="sign-in.html">Sign in <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="sign-up.html">Sign up <span class="sr-only">(current)</span></a>
          </li>      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User's name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="my-profile.html">My profile</a>
              <a class="dropdown-item" href="my-favourites.html">My favourites</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Sign out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- header -->
    <div class="hero-image">
      <div class="hero-text">
        <div class="overlay text-center">
          <br>
          <br>
          <h1 class="display-3 bold-header"><b>MORE RECIPES</b></h1>
          <p class="lead"><b>discover and share great recipes</b></p>
          <hr class="my-4">
          <div class="row">
            <div class="input-group home-search">
              <input type="text" class="form-control" placeholder="Search for recipes..." aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-warning" type="button">Find Recipes</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- top recipes -->
    <h4 class="display-4 text-center">Top recipes</h4>
    <hr class="my-4">


    <div class="row">
      <div class="col-sm">

        <!-- a block of recipe -->
        <ul class="list-unstyled">
          <li class="media">
            <img class="mr-3 recipe-icon" src="img/cooking_icon.png" alt="icon">
            <div class="media-body">
              <a class="mt-0 mb-1" href="recipe-product-page.html"><h5 class="rcp-name">Recipe Name</h5></a>
              <div class="icons">
                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 139</span>
                <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 139</span>
                <span><i class="fa fa-heart" aria-hidden="true"></i> 139</span>
              </div>
              A short description of the recipe, the ingredients therein, and a step by step on how to prepare a dish with it
            </div>
          </li>
        </ul>

      </div>
      <div class="col-sm">
       <ul class="list-unstyled">
        <li class="media">
          <img class="mr-3 recipe-icon" src="img/cooking_icon.png" alt="icon">
          <div class="media-body">
           <a class="mt-0 mb-1" href="recipe-product-page.html"><h5 class="rcp-name">Recipe Name</h5></a>
           <div class="icons">
            <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 139</span>
            <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 139</span>
            <span><i class="fa fa-heart" aria-hidden="true"></i> 139</span>
          </div>
          A short description of the recipe, the ingredients therein, and a step by step on how to prepare a dish with it
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- row 2 -->
<div class="row">
  <div class="col-sm">

    <!-- a block of recipe -->
    <ul class="list-unstyled">
      <li class="media">
        <img class="mr-3 recipe-icon" src="img/cooking_icon.png" alt="icon">
        <div class="media-body">
         <a class="mt-0 mb-1" href="recipe-product-page.html"><h5 class="rcp-name">Recipe Name</h5></a>
         <div class="icons">
          <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 139</span>
          <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 139</span>
          <span><i class="fa fa-heart" aria-hidden="true"></i> 139</span>
        </div>
        A short description of the recipe, the ingredients therein, and a step by step on how to prepare a dish with it
      </div>
    </li>
  </ul>

</div>
<div class="col-sm">
 <ul class="list-unstyled">
  <li class="media">
    <img class="mr-3 recipe-icon" src="img/cooking_icon.png" alt="icon">
    <div class="media-body">
     <a class="mt-0 mb-1" href="recipe-product-page.html"><h5 class="rcp-name">Recipe Name</h5></a>
     <div class="icons">
      <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 139</span>
      <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 139</span>
      <span><i class="fa fa-heart" aria-hidden="true"></i> 139</span>
    </div>
    A short description of the recipe, the ingredients therein, and a step by step on how to prepare a dish with it
  </div>
</li>
</ul>
</div>

</div>
<hr class="my-4">
<!-- all recipes buton -->
<div class="text-center">
  <a href="recipe-listing-page.html"><button type="button" class="home-recipe-btn btn btn-warning btn-lg">View all recipes</button></a>
</div>
<!-- footer -->
<footer class="footer text-center">
  <row class="text-muted">&copy Jogbojogbo Abdulrahman - Andela Bootcamp</row>
</footer> 

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>